:root {
  --off-white: #f1d9d9;
}
html {
  scroll-behavior: smooth;
}
.monograph {
  font-family:'monograph';
}
.retro-lagoon {
  font-family:'retro lagoon personal use';
}
.super-retro {
  font-family:'super retro m54';
}
.chuck-noon {
  font-family:'chuck noon';
}