:root {
  --primary-background-color: #0018e7;
  --primary-text-color: #00d9e7;
  --secondary-background-color: #0079e7;
  --secondary-text-color: #3604a6;
  --tertiary-background-color: #00d9e7;
  --tertiary-text-color: #0018e7;
  --quaternary-background-color: #00e795;
  --quaternary-text-color: #0466bf;

  --background-color: lightgray;
  --primary-font-color: black;
}

.subtitle,
a,
.has-text-primary {
  color: var(--primary-font-color) !important;
}
.has-background-primary {
  background-color: var(--primary-font-color) !important;
}